<table>
  <tbody>
    <h2>Log History </h2>
    <tr>
      <th>
        Client
      </th>
      <th>
        Car
      </th>
      <th>
        Date Completed
      </th>
      <th>
        Link
      </th>
    </tr>

<% @completed_jobs.each do |job| %>
<tr>
  <td><%= job.car.client.name %></td>
  <td><%= job.car.model %></td>
  <td><%= job.car.created_at %></td>
<td><%= link_to "View", job_path(id: job.token) %></td>
</tr>
<% end %>

</table>

<p> <%= link_to 'Back to main', root_path %> </p>
