<h2>All Mechanics</h2>

 <table>
  <tbody>
     <tr>
       <th>
         Mechanic Name:
       </th>
       <th>
         Number of jobs assigned:
       </th>
       <th>
         Number of jobs completed:
       </th>

     </tr>

     <% @mechanics.each do |mechanic| %>
    <tr>
      <td>  <%= "#{mechanic.name}" %> </td>
      <td>  <%= mechanic.jobs.count - mechanic.jobs.completed.count  %> </td>
      <td>  <%= mechanic.jobs.completed.count %> </td>
    <% end %>
    </tr>

  </tbody>
 </table>

 <p> <strong> <%= link_to 'Add a New Mechanic', new_mechanic_path %> </strong> </p>

 <p> <%= link_to 'Back to main', root_path %> </p>
