<%= form_for @job do |f| %>

<p> <%= f.label :car_id%> <%= collection_select :job, :car_id, Car.all, :id, :model%> </p>
<p> <%= f.label :mechanic_id%> <%= collection_select :job, :mechanic_id, Mechanic.all, :id, :name%> </p>
<% end %>
