<h1>New Job</h1>

  <%= form_for @job do |f| %>
    <p> <%= f.label :client%> <%= collection_select :client, :client_id, Client.all, :id, :name, {prompt: 'Select a client'}%> </p>
    <p> <%= f.label :car %> <%= f.select :car_id , [], {prompt: 'Select a car'}%> </p>
    <p> <%= f.label :mechanic_id%> <%= collection_select :job, :mechanic_id, Mechanic.all, :id, :name, {prompt: 'Select a mechanic'} %> </p>
  <p> <%= f.submit %>
 <% end %>



<body>

</body>




<!-- 1. create a drop down field for the client name
      2. create a form for the new job
      3. submit the new job using the car_id selected by the client_id. Can i do this even though my job model does not have a direction relationship? It is a through relationship
      4. auto update the car field based on the cars registered to that clients
      5. add link/form to create new car for that client

1. select a client
2. hit the client controller for show.
3. within show, read in the request, return a json object....of the whole client or the cars
4. append it to the view
5. submit the form
