<div class="progress-container">
  <h4 id="progress-bar-title">Progress Bar:</h4>
  <div class="progress-bar-background">
    <div class="progress-bar">
      <span id="<%= @job.aasm_state %>">
        <% if @job.aasm_state == 'completed' %>
        <%= "Job Complete"%>
        <% end %>
      </span>
    </div>
  </div>
</div>

<table>
  <tbody>
    <tr>
      <td>Name:</td>
      <td><%= @job.car.client.name %> </td>
    </tr>

    <tr>
      <td>Phone:</td>
      <td><%= @job.car.client.phone %> </td>
    </tr>

    <tr>
      <td>Email:</td>
      <td><%= @job.car.client.email %> </td>
    </tr>

    <tr>
      <td>Make:</td>
      <td><%= @job.car.make %> </td>
    </tr>

    <tr>
      <td>Model:</td>
      <td><%= @job.car.model %> </td>
    </tr>

    <tr>
      <td>Year:</td>
      <td><%= @job.car.year %> </td>
    </tr>


    <tr>
      <td>Color:</td>
      <td><%= @job.car.color %> </td>
    </tr>

    <tr>
      <td>Plate:</td>
      <td><%= @job.car.plate %> </td>
    </tr>

    <tr>
      <td>Mechanic:</td>
      <td><%= @job.mechanic.name %> </td>
    </tr>

    <tr>
      <td>Status:</td>
      <td><%= @job.aasm_state %> </td>
    </tr>
  </tbody>
</table>

<% if current_user %>

<p> <h2> Update Job </h2> </p>

    <% if @job.aasm_state != 'budgeting' %>
      <%= form_for @status do |f| %>
        <p> <%= f.label :message %> <%= f.text_field :message %> </p>
        <%= f.hidden_field(:job_id,value: @job.id) %>
        <%= f.submit %>
      <% end %>
    <% end %>

  <% if @job.aasm_state == 'budgeting' %>
      <%= form_for @cost, :html => {:multipart => true} do |f| %>
        <p> <%= f.label :Budget %> <%= f.file_field :budget %> </p>

        <%= f.hidden_field(:job_id, value: @job.id)%>
        <%= f.submit %>
      <% end %>
  <% end %>

    <% if @job.aasm_state == 'budgeting' %>
      <%= form_for @cost, :html => {:multipart => true} do |f| %>
        <p> <%= f.label :Budget %> <%= f.file_field :budget %> </p>
        <%= f.hidden_field(:job_id, value: @job.id)%>
        <%= f.submit %>
      <% end %>
    <% end %>

<% else %>

  <!-- form for approval by the client -->
  <% if @job.aasm_state == 'waiting_for_approval' %>
    <%= form_for @status do |f| %>
      <%= f.hidden_field(:message, value: "Budget approved by client") %>
      <%= f.hidden_field(:job_id,value: @job.id)%>
      <%= f.submit "Approve" %>
    <% end %>
  <% end %>

  <% if @job.aasm_state == 'waiting_for_approval' %>
    <%= link_to "Click here to Download Budget", cost_path(@job.cost) %>
  <% end %>
<% end %>



<p> <%= link_to 'Back to main', root_path %> </p>

<table>
  <tbody>
    <h2>Log History </h2>
    <tr>
      <td>
        State:
      </td>
      <td>
        Message:
      </td>
      <td>
        Date Updated:
      </td>
    </tr>

    <% @statuses.each do |status| %>
      <% if status.job_id == @job.id %>
        <tr>
          <td><%= status.current_state %></td>
          <td><%= status.message %> </td>
          <td><%= status.created_at %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
