
<p> Name: <%= @job.car.client.name %> </p>
<p> Phone: <%= @job.car.client.phone %> </p>
<p> Email: <%= @job.car.client.email %> </p>
<p> Make: <%= @job.car.make %> </p>
<p> Model: <%= @job.car.model %> </p>
<p> Year: <%= @job.car.year %> </p>
<p> Color:  <%= @job.car.color %> </p>
<p> Plate: <%= @job.car.plate %> </p>
<p> Mechanic: <%= @job.mechanic.name %> </p>
<p> Status: <%= @job.aasm_state %> </p>
<p> id: <%= @job.id %> </p>

<%= form_for @status do |f| %>
<p> <%= f.label :message %> <%= f.text_field :message %> </p>
<%= f.hidden_field(:job_id,value: @job.id)%>

<%= f.submit %>
  <% end %>



<p> <%= link_to 'Back to main', root_path %> </p>
