
<p> <%= @job.car.client.name %> </p>
<p> <%= @job.car.client.phone %> </p>
<p> <%= @job.car.client.email %> </p>
<p> <%= @job.car.make %> </p>
<p> <%= @job.car.model %> </p>
<p> <%= @job.car.year %> </p>
<p> <%= @job.car.color %> </p>
<p> <%= @job.car.plate %> </p>
<p> <%= @job.mechanic.name %> </p>
