
<p> Name: <%= @job.car.client.name %> </p>
<p> Phone: <%= @job.car.client.phone %> </p>
<p> Email: <%= @job.car.client.email %> </p>
<p> Make: <%= @job.car.make %> </p>
<p> Model: <%= @job.car.model %> </p>
<p> Year: <%= @job.car.year %> </p>
<p> Color:  <%= @job.car.color %> </p>
<p> Plate: <%= @job.car.plate %> </p>
<p> Mechanic: <%= @job.mechanic.name %> </p>
<p> Status: <%= @job.aasm_state %> </p>
<p> id: <%= @job.id %> </p>


<p> <h2> Update Job </h2> </p>



<%= form_for @status do |f| %>
<p> <%= f.label :message %> <%= f.text_field :message %> </p>
<%= f.hidden_field(:job_id,value: @job.id)%>
<%= f.submit %>
  <% end %>



<%= form_for @cost, :html => {:multipart => true} do |f| %>
<p> <%= f.label :Budget %> <%= f.file_field :budget %> </p>
<p> <%= f.label :Approved? %> <%= f.check_box :approved %> </p>
<%= f.hidden_field(:job_id,value: @job.id)%>
<%= f.submit %>
<% end %>
  <p> <%= link_to 'Back to main', root_path %> </p>


<p> <h2>Log History </h2> </p>
<% @statuses.each do |status| %>
  <% if status.job_id == @job.id %>
<p> <strong> State: <%= status.current_state %> </strong> </p>
<p> Update: <%= status.message %> </p>
<% end %>
<% end %>
