
<p> Name: <%= @job.car.client.name %> </p>
<p> Phone: <%= @job.car.client.phone %> </p>
<p> Email: <%= @job.car.client.email %> </p>
<p> Make: <%= @job.car.make %> </p>
<p> Model: <%= @job.car.model %> </p>
<p> Year: <%= @job.car.year %> </p>
<p> Color:  <%= @job.car.color %> </p>
<p> Plate: <%= @job.car.plate %> </p>
<p> Mechanic: <%= @job.mechanic.name %> </p>
<p> Status: <%= @job.aasm_state %> </p>
<p> id: <%= @job.id %> </p>


<p> <h2> Update Job </h2> </p>



<%= form_for @status do |f| %>
<p> <%= f.label :message %> <%= f.text_field :message %> </p>
<%= f.hidden_field(:job_id,value: @job.id)%>

  <% if @job.aasm_state == 'budgeted' %>

    <%= f.fields_for :costs do |costs_fields| %>

   <p> <%= costs_fields.label :Budget %> <%= costs_fields.file_field :budget %> </p>
   <p> <%= costs_fields.label :Approved? %> <%= costs_fields.check_box :approved %> </p>
   <%= costs_fields.hidden_field(:job_id,value: @job.id)%>
   <% end %>
   <% end %>

<%= f.submit %>
  <% end %>

  <% if @job.aasm_state == 'repairing' %>
<%= link_to "Click here to Download Budget", cost_path(@job.cost) %>
<% end %>
  <p> <%= link_to 'Back to main', root_path %> </p>


<p> <h2>Log History </h2> </p>
<% @statuses.each do |status| %>
  <% if status.job_id == @job.id %>
<p> <strong> State: <%= status.current_state %> </strong> </p>
<p> Update: <%= status.message %> </p>
<% end %>
<% end %>
