<div class="progress-container">
  <h4 id="progress-bar-title">Progress Bar:</h4>
  <div class="progress-bar-background">
    <div class="progress-bar">
      <span id="<%= @job.aasm_state %>">
        <% if @job.aasm_state == 'completed' %>
        <%= "Job Complete"%>
        <% end %>
      </span>
    </div>
  </div>
</div>

<table>
  <tbody>
    <tr>
      <td>Name:</td>
      <td><%= @job.car.client.name %> </td>
    </tr>

    <tr>
      <td>Phone:</td>
      <td><%= @job.car.client.phone %> </td>
    </tr>

    <tr>
      <td>Email:</td>
      <td><%= @job.car.client.email %> </td>
    </tr>

    <tr>
      <td>Make:</td>
      <td><%= @job.car.make %> </td>
    </tr>

    <tr>
      <td>Model:</td>
      <td><%= @job.car.model %> </td>
    </tr>

    <tr>
      <td>Year:</td>
      <td><%= @job.car.year %> </td>
    </tr>


    <tr>
      <td>Color:</td>
      <td><%= @job.car.color %> </td>
    </tr>

    <tr>
      <td>Plate:</td>
      <td><%= @job.car.plate %> </td>
    </tr>

    <tr>
      <td>Mechanic:</td>
      <td><%= @job.mechanic.name %> </td>
    </tr>

    <tr>
      <td>Status:</td>
      <td><%= @job.aasm_state %> </td>
    </tr>
  </tbody>
</table>

<% if current_user %>

<h2 class="job-show-title"> Update Job </h2>

    <% if @job.aasm_state != 'budgeting' %>
      <%= form_for @status do |f| %>
        <%= f.label :message %> <%= f.text_area :message, size: "100x5", class: "submit-button" %>
        <%= f.hidden_field(:job_id,value: @job.id) %>
        <%= f.submit %>
      <% end %>
    <% end %>

  <% if @job.aasm_state == 'budgeting' %>
      <%= form_for @cost, :html => {:multipart => true} do |f| %>
        <%= f.label :Budget %> <%= f.text_area :budget , size: "100x5", class: "submit-button"%>

        <%= f.hidden_field(:job_id, value: @job.id)%>
        <%= f.submit %>
      <% end %>
  <% end %>

  <!-- form for approval by the client -->

<% end %>

</br>

<% if @job.aasm_state == 'waiting_for_approval' %>
  <%= form_for @status do |f| %>
    <%= f.hidden_field(:message, value: "Budget approved by client") %>
    <%= f.hidden_field(:job_id,value: @job.id)%>
    <%= f.submit "Approve" %>
  <% end %>
<% end %>



<% if @job.aasm_state == 'waiting_for_approval' %>
<div class="">
    <button><%= link_to "Download Budget", cost_path(@job.cost) %></button>
</div>
<% end %>


<table>
  <tbody>
    <h2 class="job-show-title">Log History </h2>
    <tr>
      <th>
        State:
      </th>
      <th>
        Message:
      </th>
      <th>
        Date Updated:
      </th>
    </tr>

    <% @statuses.each do |status| %>
      <% if status.job_id == @job.id %>
        <tr>
          <td><%= status.current_state %></td>
          <td><%= status.message %> </td>
          <td><%= status.created_at %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<button> <%= link_to 'Back to main', root_path, class: "link-button" %> </button>
<button> <%= link_to 'Back to all jobs', jobs_path, class: "link-button" %> </button>
