<h2 class="title">All clients</h2>


 <table class="table">
   <tbody>
     <tr>
       <th>
         Client Name:
       </th>
       <th>
        Email:
      </th>
       <th>
        Phone:
      </th>
     </tr>

  <% @clients.each do |client| %>
  <tr>
    <td><%= link_to "#{client.name}", client_path(client) %> </td>
    <td><%= client.email %></td>
    <td><%= client.phone %></td>
    <% end %>
  </tr>

   </tbody>
 </table>
<button><%= link_to 'Add a New Client', new_client_path , class: "link-button"%> </button>

 <button> <%= link_to 'Back to main', root_path, class: "link-button" %> </button>
