<h2 class="title"><%= @client.name %></h2>

<table class="table">
  <tbody>

    <tr>
      <td>Phone:</td>
      <td><%= @client.phone %> </td>
    </tr>

    <tr>
      <td>Email:</td>
      <td><%= @client.email %> </td>
    </tr>

    <tr>
      <td>SIN:</td>
      <td><%= @client.cedula %> </td>
    </tr>
  </tbody>
</table>

<h2 class="job-show-title"> Car</h2>

<div class="">
  <table>
    <tr>
      <th>Model</th>
      <th>Make</th>
      <th>Year</th>
      <th>Color</th>
      <th>Plate</th>
    </tr>
   <% @client.cars.each do |car| %>
   <tr>
    <td><%= car.model.capitalize %>  </td>
    <td><%= car.make.capitalize %>  </td>
    <td> <%= car.year %>  </td>
    <td><%= car.color.capitalize %>  </td>
    <td><%= car.plate.upcase %>  </td>
    </tr>
      <% end %>
  </table>
</div>
<button> <%= link_to 'Add a new car for this client', new_client_car_path(@client.id), class:"link-button" %> </button>
<button> <%= link_to "Edit", edit_client_path(@client.id), class:"link-button" %> </button>
<button class="menu-button"> <%= link_to 'Back to all clients', clients_path, class:"link-button" %> </button>
<button> <%= link_to 'Back to main', root_path ,class:"link-button" %> </button>
