<p> <strong> <%= @client.name %> </strong> </p>
<p> <%= @client.email %> </p>
<p> <%= @client.phone %> </p>
<p> <%= @client.cedula %> </p>
<p> <%= @client.id %> </p>


<div class="">
   <% @client.cars.each do |car| %>
  <p>  <%= car.make %>  </p>
  <p>  <%= car.model %>  </p>
  <p>  <%= car.year %>  </p>
  <p>  <%= car.color %>  </p>
  <p>  <%= car.plate %>  </p>
  <p>  <%= car.id %>  </p>
    <% end %>
</div>

<p> <%= link_to 'Back to all clients', clients_path %> </p>
<p> <%= link_to 'Add new Car to this Client', new_client_car_path(@client.id) %> </p>
