<p> <%= link_to 'Open Jobs', jobs_path %> </p>
<p> <%= link_to 'New job', new_job_path %> </p>
<p> <%= link_to 'Clients', clients_path %> </p>
<p> <%= link_to 'History', history_path %> </p>
<p> <%= link_to 'Mechanics', mechanics_path %> </p>
