<h2>Adding Car to Client  </h2>


<%= form_for [@client, @car] do |f| %>
   <div class="field">
     <%= f.label :make %>
     <%= f.text_field :make %>
   </div>

   <div class="field">
     <%= f.label :model %>
     <%= f.text_field :model %>
   </div>
   <div class="field">
     <%= f.label :year %>
     <%= f.date_select :year, discard_day:true, discard_month:true   %>
   </div>
   <div class="field">
     <%= f.label :color %>
     <%= f.text_field :color %>
   </div>
   <div class="field">
     <%= f.label :plate %>
     <%= f.text_field :plate %>
   </div>

<p> <%= f.submit %> </p>

<% end %>
