<!DOCTYPE html>
<html>
  <head>

    <title>FixMyCar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav>
<div class="test-container">
  <div class="test2-container">
    <div class="title-container">
      <%= image_tag ("car.jpg"), class: "header-icon" %></span>
      <%= link_to "Fix my car", dashboards_path, id: "test-title" %>
    </div>
    <div class="list-container">
    <ul>
      <% if current_user %>
        <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
        <li><%= link_to "Logout", :logout, method: :post %></li>
        <li> Position: <%= current_user.position  %> </li>
        <li> Logged in as: <%= current_user.name  %> </li>
      <% else %>
        <li><%= link_to "Register", new_user_path %> </li>
        <li><%= link_to "Login", :login %></li>
      <% end %>
    </ul>
    </div>
  </div>
</div>
</nav>

    <%= yield %>

    </body>

</html>
