<!DOCTYPE html>
<html>
  <head>

    <title>FixMyCar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar-header">
      <div class="container">
        <h2> <%= link_to "Fix my car", dashboards_path, id: "navbar-title" %> </h2>
          <ul>
            <% if current_user %>
              <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
              <li><%= link_to "Logout", :logout, method: :post %></li>
            <% else %>
              <li><%= link_to "Register", new_user_path %> </li>
              <li><%= link_to "Login", :login %></li>
            <% end %>
          </ul>
    </div>

    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>

    </nav>

    <%= yield %>

    </body>

</html>
