<!DOCTYPE html>
<html>
  <head>

    <title>FixMyCar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


    <nav class="navbar-header">
      <div class="container">
        <h2> <%= link_to "Fix my car", dashboards_path, id: "navbar-title" %> </h2>
          <ul>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">Home</a>
            </li>
          </ul>
      </div>
    </nav>

  <body>
    <%= yield %>
  </body>

</html>
